<div class="toolbar" role="banner">
    <div class="row">
        <div class="col-6 col-lg-7 box_gretting">
            <span>Buenos dias, {{userData.name}}</span>
        </div>
        <div class="col-6 col-lg-5">
            <div class="row">
                <div class="col-4">
                    <span>Perfil</span>
                    <img src="assets/images/user.PNG">
                </div>
                <div class="col-4 alerts">
                    <span>Alertas</span>
                    <img src="assets/images/bell.PNG">
                </div>
                <div class="col-4">
                    <span>Salida segura</span>
                    <img src="assets/images/exit.PNG">
                </div>
            </div>
        </div>
    </div>
</div>